<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v6.0" sku=".NETFramework,Version=v6.4.4" />
    </startup>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Server=SEU_SERVIDOR;Database=SEU_BANCO;User Id=SEU_USUARIO;Password=SUA_SENHA;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>