html[b-wd85cp06ic] {
    height: 100%;
    background: linear-gradient(to right, #005e00, #3ace3a);
}

body[b-wd85cp06ic] {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #005e00, #3ace3a);
}

.alert[b-wd85cp06ic] {
    position: absolute;
    top: 20px;
    width: 80%;
    max-width: 400px;
    margin: auto; 
    z-index: 10;
    display: none;
}

.cardLogin[b-wd85cp06ic] {
    background-color: #f9f9f9; 
    border-radius: 60px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    height: 40vh;
    width: 80%;
    max-width: 400px;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.9);
}

.loginLbl[b-wd85cp06ic] {
    padding-top: 30px;
    padding-right: 44vw;
    color: darkgray;
    text-align: left;
}

.loginInput[b-wd85cp06ic] {
    background-color: #e8e8e8;
    border: 1px solid darkgray;
    border-radius: 20px;
    width: 60vw;
    height: 30px;
    text-align: center;
}

.loginBtn[b-wd85cp06ic] {
    background-color: #DF3A01;
    border: 1px solid darkgray;
    border-radius: 50px;
    margin-top: 25px;
    width: 55%;
    height: 30px;
    font-weight: bold;
    color: white;
}